@model WebFrontEnd.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

    <hr/>
    <div class="form-group">
        @Html.LabelFor(m => m.name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">


            @Html.TextBoxFor(m => m.name, new { @class = "form-control", });

            @Html.ValidationMessageFor(m => m.name, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.postalCode, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">

            @Html.PasswordFor(m => m.postalCode, new { @class = "form-control" })

            @Html.ValidationMessageFor(m => m.postalCode, "", new { @class = "text-danger" })
        </div>
    </div>
}